In [1]:
import csv
import pandas as pd
import datetime

In [2]:
readers = pd.DataFrame([], columns = ['date', 'action', 'country', 'user_id', 'source', 'topic']) 
returning_readers = pd.DataFrame([], columns = ['date', 'action', 'country', 'user_id', 'topic']) 

purchases = pd.DataFrame([], columns = ['date', 'action', 'user_id', 'spent']) 
subscribes = pd.DataFrame([], columns = ['date', 'action', 'user_id'])

In [3]:
with open("dilans_data.csv") as input_file:
    readerCSV = csv.reader(input_file)

    readers_list = []
    returning_list = []
    purchases_list = []
    subscribes_list = []
    for row in enumerate(readerCSV):
        action =row[1][0].split(';')[1]
        r = row[1][0].split(';')
        if action == 'read':
            if len(r) == 6:
                readers_list.append(r)
            else:
                returning_list.append(r)
        if action == 'subscribe':
            subscribes_list.append(r)
        if action == 'buy':
            purchases_list.append(r)
        
    readers=pd.DataFrame(readers_list,columns=['date', 'action', 'country', 'user_id', 'source', 'topic'])
    returning_readers=pd.DataFrame(returning_list,columns=['date', 'action', 'country', 'user_id', 'topic'])
    purchases=pd.DataFrame(purchases_list,columns=['date', 'action', 'user_id', 'spent'])
    subscribes=pd.DataFrame(subscribes_list,columns=['date', 'action', 'user_id'])

### Number of retruning users per country

In [4]:
returning_readers.loc[returning_readers['action'] == 'read', 'action'] = 'return'

In [6]:
no_of_actions = returning_readers.groupby('user_id').agg({'action': 'count', 'country': 'first'})

In [7]:
no_of_actions.groupby('country').agg('sum')

           action
country
country_1    1155
country_2   79401
country_3    6386
country_4   58507
country_5  109383
country_6   32596
country_7   80276
country_8    4150

### Number of subscribing users per country

In [9]:
subs_userscountry = subscribes.set_index('user_id').join(readers.set_index('user_id'), how='left', lsuffix='_subs', rsuffix= '_readers')

In [21]:
subs_userscountry.groupby('country').agg({'action_subs': 'count'})

           action_subs
country
country_1           28
country_2         1558
country_3          160
country_4         1419
country_5         2334
country_6          546
country_7         1470
country_8          103