In [2]:
import csv
import pandas as pd

In [3]:
readers = pd.DataFrame([], columns = ['date', 'action', 'country', 'user_id', 'source', 'topic']) 
returning_readers = pd.DataFrame([], columns = ['date', 'action', 'country', 'user_id', 'topic']) 

purchases = pd.DataFrame([], columns = ['date', 'action', 'user_id', 'spent']) 
subscribes = pd.DataFrame([], columns = ['date', 'action', 'user_id'])

In [4]:
with open("dilans_data.csv") as input_file:
    readerCSV = csv.reader(input_file)

    readers_list = []
    returning_list = []
    purchases_list = []
    subscribes_list = []
    for row in enumerate(readerCSV):
        action =row[1][0].split(';')[1]
        r = row[1][0].split(';')
        if action == 'read':
            if len(r) == 6:
                readers_list.append(r)
            else:
                returning_list.append(r)
        if action == 'subscribe':
            subscribes_list.append(r)
        if action == 'buy':
            purchases_list.append(r)
        
    readers=pd.DataFrame(readers_list,columns=['date', 'action', 'country', 'user_id', 'source', 'topic'])
    returning_readers=pd.DataFrame(returning_list,columns=['date', 'action', 'country', 'user_id', 'topic'])
    purchases=pd.DataFrame(purchases_list,columns=['date', 'action', 'user_id', 'spent'])
    subscribes=pd.DataFrame(subscribes_list,columns=['date', 'action', 'user_id'])

### Sources

In [5]:
readers.groupby('source').count()[['user_id']]

         user_id
source
AdWords    63065
Reddit    105216
SEO        41742

### Source and purchases

In [6]:
travels = purchases.merge(readers, how='left', on='user_id')
travels[['spent']] = travels[['spent']].apply(pd.to_numeric)

In [34]:
travels.loc[travels['spent'] == 80].groupby(by='source')['spent'].agg('count')

source
AdWords    243
Reddit     813
SEO        711
Name: spent, dtype: int64

In [28]:
books = travels.loc[travels['spent'] == 8].groupby(['source', 'country']).agg('count')[['spent']]
videos = travels.loc[travels['spent'] == 80].groupby(['source', 'country']).agg('count')[['spent']]

In [30]:
books

                   spent
source  country
AdWords country_2    141
        country_3     11
        country_4    307
        country_5    380
        country_6     27
        country_7    161
        country_8      1
Reddit  country_2    686
        country_3     61
        country_4    519
        country_5    937
        country_6    252
        country_7    635
SEO     country_1     25
        country_2    614
        country_3     40
        country_4    267
        country_5    653
        country_6    255
        country_7    584
        country_8     84

In [31]:
videos

                   spent
source  country
AdWords country_2     27
        country_3      2
        country_4     86
        country_5     83
        country_6      6
        country_7     39
Reddit  country_2    165
        country_3     17
        country_4    136
        country_5    257
        country_6     69
        country_7    169
SEO     country_1      9
        country_2    158
        country_3     15
        country_4     87
        country_5    187
        country_6     77
        country_7    151
        country_8     27